.card-body__link{
    display: flex;
    justify-content: space-around;
}

.card-link{
    text-decoration: none;
}

h5{
    font-size: 1.3rem;
}

p{
    font-size: 1.2rem;
}

.list-group-item{
    font-size: 1.2rem;
}